<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS16.dao.CalendarDAO">
  <!-- 모든 일정 조회 -->
  <select id="getCalendarList" resultType="com.spring.javaclassS16.vo.CalendarVO">
    SELECT * FROM calendar 
    WHERE (memberId = #{memberId} OR (sharing = true AND familyCode = #{familyCode}))
  </select>
  
  <!-- 일정 요약 조회 -->
  <select id="getCalendarSummary" resultType="com.spring.javaclassS16.vo.CalendarVO">
    SELECT * FROM calendar 
    WHERE (memberId = #{memberId} OR (sharing = true AND familyCode = #{familyCode}))
    AND startTime >= CURDATE()
    ORDER BY startTime ASC
    LIMIT 5
  </select>
  
  <select id="getUpcomingSchedules" resultType="com.spring.javaclassS16.vo.CalendarVO" parameterType="string">
    SELECT * FROM calendar 
    WHERE (memberId = #{memberId} OR sharing = TRUE) 
    AND familyCode = #{familyCode} 
    AND startTime >= CURDATE() 
    AND <![CDATA[startTime <= DATE_ADD(CURDATE(), INTERVAL 7 DAY)]]> 
    ORDER BY startTime ASC LIMIT 5
	</select>
  
  <select id="getWeeklyEvents" resultType="com.spring.javaclassS16.vo.CalendarVO">
    SELECT * FROM calendar 
    WHERE (memberId = #{memberId} OR sharing = TRUE) 
    AND familyCode = #{familyCode} 
    AND startTime >= #{startDate} AND <![CDATA[startTime < #{endDate}]]> 
    ORDER BY startTime ASC LIMIT 5
	</select>
  
  
  
  <!-- 일정 입력 -->
  <insert id="calendarInput" parameterType="com.spring.javaclassS16.vo.CalendarVO">
    INSERT INTO calendar (title, startTime, endTime, allDay, description, sharing, memberId, familyCode)
    VALUES (#{vo.title}, #{vo.startTime}, #{vo.endTime}, #{vo.allDay}, #{vo.description}, #{vo.sharing}, #{vo.memberId}, #{vo.familyCode})
  </insert>
  
  <!-- 일정 수정 -->
  <update id="calendarUpdate" parameterType="com.spring.javaclassS16.vo.CalendarVO">
    UPDATE calendar 
    SET title = #{vo.title}, 
        description = #{vo.description},
        startTime = #{vo.startTime}, 
        endTime = #{vo.endTime}, 
        allDay = #{vo.allDay},
        memberId = #{vo.memberId},
        familyCode = #{vo.familyCode},
        sharing = #{vo.sharing}
    WHERE idx = #{vo.idx}
  </update>
  
  <!-- 일정 삭제 -->
  <delete id="calendarDelete">
    DELETE FROM calendar WHERE idx = #{idx}
  </delete>
</mapper>