<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS16.dao.VoteDAO">
    
	<select id="getVoteList" resultType="com.spring.javaclassS16.vo.VoteVO">
		select * from vote where familyCode = #{familyCode} order by endTime limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getVoteContent" resultType="com.spring.javaclassS16.vo.VoteVO">
    SELECT * FROM vote WHERE idx = #{idx} AND familyCode = #{familyCode}
  </select>
  
  <select id="getVoteOptions" resultType="com.spring.javaclassS16.vo.VoteOptionVO">
    SELECT * FROM voteOption WHERE voteIdx = #{idx}
  </select>
  
  <select id="hasVoted" resultType="boolean">
    SELECT EXISTS(SELECT 1 FROM voteParticipation WHERE voteIdx = #{idx} AND memberIdx = #{memberIdx})
  </select>
  
	<select id="getVoteOptionsWithResults" resultType="com.spring.javaclassS16.vo.VoteOptionVO">
    SELECT vo.*, 
          (SELECT COUNT(*) FROM voteParticipation WHERE optionIdx = vo.idx) as voteCount
    FROM voteOption vo
    WHERE vo.voteIdx = #{idx}
	</select>
	
	<select id="getVotersForOption" resultType="com.spring.javaclassS16.vo.MemberVO">
    SELECT m.* 
    FROM member m
    JOIN voteParticipation vp ON m.idx = vp.memberIdx
    WHERE vp.voteIdx = #{voteIdx} AND vp.optionIdx = #{optionIdx}
	</select>
	
  <select id="getVoteParticipants" resultType="com.spring.javaclassS16.vo.MemberVO">
    SELECT m.*
    FROM member m
    INNER JOIN voteParticipation vp ON m.idx = vp.memberIdx
    WHERE vp.voteIdx = #{idx}
  </select>

  <select id="getNonParticipants" resultType="com.spring.javaclassS16.vo.MemberVO">
    SELECT m.*
    FROM member m
    WHERE m.familyCode = #{familyCode}
    AND m.idx NOT IN (
      SELECT vp.memberIdx
      FROM voteParticipation vp
      WHERE vp.voteIdx = #{idx}
    )
  </select>
  
  <select id="getVoteReply" resultType="com.spring.javaclassS16.vo.VoteReplyVO">
    SELECT * FROM voteReply WHERE voteIdx = #{idx} ORDER BY createdAt;
  </select>
	
	<select id="getActiveVotes" resultType="com.spring.javaclassS16.vo.VoteVO">
    SELECT * FROM vote 
    WHERE status = 'ACTIVE' 
    AND endTime > NOW() 
    AND familyCode = #{familyCode}
    ORDER BY createdAt DESC
  </select>

	
	<insert id="setVoteInput" useGeneratedKeys="true" keyProperty="idx"> <!-- 이걸 써줘야 됨 -->
		INSERT INTO vote VALUES (default, #{vo.memberIdx}, #{vo.name}, #{vo.familyCode}, #{vo.title}, #{vo.description}, #{vo.part}, default, #{vo.endTime}, #{vo.anonymous}, default, #{vo.multipleChoice});
	</insert>
	
	<insert id="setVoteOption">
      INSERT INTO voteOption (voteIdx, optionText, voteCount) VALUES (#{idx}, #{option}, 0)
  </insert>

	<insert id="insertVoteParticipation">
	  INSERT INTO voteParticipation (voteIdx, memberIdx, optionIdx)
	  VALUES 
	  <foreach collection="optionIdx" item="option" separator=",">
   		(#{voteIdx}, #{memberIdx}, #{option})
	  </foreach>
	</insert>
	
  <insert id="setVoteReplyInput">
	  INSERT INTO voteReply 
	  (voteIdx, memberIdx, name, content, parentIdx)
	  VALUES (#{replyVO.voteIdx}, #{replyVO.memberIdx}, #{replyVO.name}, #{replyVO.content}, 
	    <choose>
	      <when test="replyVO.parentIdx != null and replyVO.parentIdx != 0">
	        #{replyVO.parentIdx}
	      </when>
	      <otherwise>
	        NULL
	      </otherwise>
	    </choose>
	  )
	</insert>
	
	
	
	<update id="updateVoteOptionCount">
	  UPDATE voteOption
	  SET voteCount = voteCount + 1
	  WHERE idx IN
	  <foreach collection="optionIdx" item="option" open="(" separator="," close=")">
	  	#{option}
	  </foreach>
	</update>
  
  <update id="setEndVote">
    UPDATE vote SET status = 'CLOSED', endTime = NOW() WHERE idx = #{voteIdx}
	</update>
  
   <update id="closeExpiredVotes">
    UPDATE vote SET status = 'CLOSED'
    WHERE <![CDATA[endTime < NOW()]]> AND status = 'ACTIVE'
  </update>
  
  
  
  <delete id="setCancelVote">
	  DELETE FROM voteParticipation
	  WHERE voteIdx = #{voteIdx} AND memberIdx = #{memberIdx};
	  
	  UPDATE voteOption
	  SET voteCount = voteCount - 1
	  WHERE idx IN (SELECT optionIdx FROM voteParticipation WHERE voteIdx = #{voteIdx} AND memberIdx = #{memberIdx})
 </delete>


</mapper>